:root {
  --day-sky: #5279f0;
  --night-sky: #03144b;
  --text-white: white;
  --text-black: black;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.phone {
  position: relative;
  border: 8px solid black;
  border-radius: 4rem;
  height: 62rem;
  width: 32rem;
  box-shadow: 4px 4px 40px;
  overflow: hidden;
}

.mountain {
  position: absolute;
  bottom: 0;
  border-top-left-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
}

.mountain-1 {
  z-index: 2;
  height: 40rem;
  width: 22rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: rgb(0, 128, 0);
}

.mountain-2 {
  z-index: 5;
  height: 30rem;
  width: 18rem;
  left: 0;
  background: rgb(2, 83, 63);
}

.mountain-3 {
  z-index: 7;
  height: 20rem;
  width: 18rem;
  right: 0;
  background: rgb(150, 90, 0);
}

.mountain-4 {
  z-index: 9;
  height: 12rem;
  width: 24rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: rgb(0, 128, 0);
}
