.score {
  width: 100%;
  padding: 1.6rem 0;
  text-align: center;
}

.score h1 {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--text-color);
}

.score p {
  margin: 0;
  font-size: 1.8rem;
  font-weight: normal;
  color: var(--text-color);
}
