.panda-container {
  position: relative;
  z-index: 1;
  width: 8rem;
  bottom: 0;
  right: 60px;
  transform: translateX(8rem);

  /* animation-name: panda1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; */
}

.head {
  position: absolute;
  top: 0.8rem;
  height: 6.2rem;
  width: 100%;
  background: white;
  border-radius: 90%;
}

.ears {
  position: absolute;
  top: 0;
  width: 2.5rem;
  height: 2.5rem;
  background: black;
  border-radius: 50%;
}

.left-ear {
  left: 0;
}

.right-ear {
  right: 0;
}

.eyes {
  position: absolute;
  top: 2rem;
  width: 0.5rem;
  height: 0.5rem;
  background: black;
  border-radius: 50%;

  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* @keyframes blink {
    0% {
      height: 5px;
    }
  
    5% {
      transform: translate(0px, 2.5px);
      height: 2px;
    }
  
    10% {
      transform: translate(0px, 0px);
      height: 5px;
    }
  } */

.eye-left {
  left: 2.7rem;
}

.eye-right {
  right: 2.7rem;
}

.nose {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1.2rem;
  height: 0.6rem;
  background: black;
  border-radius: 50%;
}
